<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Create a New Pet:</label>
  <br>
  <label>name:</label>
    <input  type="text" name="pet[name]" id="pet_name"></input>

  <br>
<input type="submit" value="Create Pet">

<label>Or, choose an existing owner:</label>
  <br>

  <%@owners.each do |owner|%>
    <input type="checkbox" name="owner[][]" id="<%=owner.id%>" value="<%=owner.id%>"><%=owner.name%></input>
  <%end%>

  <label>Or, create a new owner:</label>

  <label>name:</label>
  <br>
  <input type="text" name="owner[name]" id="owner_name">
  <br>
  <input type="submit" value="Create Owner">

  </form>
