<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Create a New Pet:</label>
  <br>
  <label>name:</label>
    <input  type="text" name="pet[name]" id="pet_name"></input>

  <br>
<input type="submit" value="Create Owner">
</form>
